.s-amount__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);

        & .c-amount {

            &:nth-child(2) {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }

    @media (max-width: 640px) {
        grid-template-columns: 1fr;

        & .c-amount {

            &:nth-child(2) {
                grid-row-start: auto;
                grid-row-end: auto;
                grid-column-start: auto;
                grid-column-end: auto;
            }
        }
    }
}