.s-insur {
    margin-bottom: 60px;
}

.s-insur__container {
    border-bottom: 1px solid $border-frame;
    padding-bottom: 60px;
}

.s-insur__body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.s-insur__amount {
    display: flex;
    align-items: center;
    margin-right: 60px;

    @media (max-width: $tablet) {
        margin-right: 0;
    }
}

.s-insur__amount-text {

}

.s-insur-tf {
    width: 150px;
    margin-left: 20px;

    & input {
        font-size: 25px;
        font-weight: 700;
        padding: 0 76px 0 20px;
    }

    @media (max-width: $mobile-l) {
        width: 140px;
        margin-left: 10px;
    }
}

.s-insur-tf__label {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    font-size: 18px;
    line-height: 1;
}

.s-insur__percent {
    display: flex;
    align-items: center;
    margin: 6px 0;

    & span {
        font-size: 37px;
        font-weight: 700;
        color: $accent;
        vertical-align: middle;
        margin: 0 20px;

        @media (max-width: $mobile-l) {
            font-size: 25px;
        }
    }

    @media (max-width: 500px) {
        margin: 20px 0 0 0;
    }
}