.acc-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (max-width: $mobile-l) {
        gap: 10px;
    }
}

.acc {
    display: block;
    transition: $tr;
    border: 1px solid $border-card;
    border-radius: $radius;
    background: $light;

    &.is-show {
        & > .acc__toggle {

            & .acc__toggle-plus {
                
                & span {

                    &:nth-child(2) {
                        width: 0;
                    }
                }
            }
        }
        
        & > .acc__body {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Шапка аккордеона
.acc__toggle {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: left;
    cursor: pointer;

    @media (any-hover: hover) {
        
        &:hover {
            
            & .acc__toggle-title {
                color: $accent;
            }
        }

        &:active {
            
            & .acc__toggle-title {
                color: brig-color($accent, .9);
            }
        }
    }

    @media (max-width: $mobile-l) {
        padding: 20px;
    }
}

.acc__toggle-icon {
    min-width: 50px;
    width: 50px;
    height: 50px;
    pointer-events: none;

    @media (max-width: $mobile-l) {
        min-width: 40px;
        width: 40px;
        height: 40px;
    }
}

.acc__toggle-title {
    font-size: 25px;
    font-weight: 700;
    pointer-events: none;
    transition: $tr;
    margin: 0 16px 0 30px;

    @media (max-width: $mobile-l) {
        font-size: 20px;
        margin-left: 20px;
    }

    @media (max-width: 360px) {
        font-size: 18px;
    }

    @media (max-width: 330px) {
        font-size: 16px;
    }
}

.acc__toggle-plus {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    background: $frame-light;
    margin-left: auto;
    transition: $tr;
    pointer-events: none;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 2px;
        background: $text-primary;
        border-radius: 10px;
        transition: $tr;

        &:nth-child(1) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }

    @media (max-width: $mobile-l) {
        min-width: 40px;
        width: 40px;
        height: 40px;
    }
}

// Тело аккордеона
.acc__body {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: $tr;
}

.acc__content {
    padding: 30px 0;
    margin: 0 30px;
    border-top: 1px solid $border-card;

    @media (max-width: $mobile-l) {
        padding: 20px 0;
        margin: 0 20px;
    }
}
