@use "sass:math";

// Миксины
@import "./mixins";

// Шрифты
@include font('Gilroy', normal, 400, '../resources/fonts/Gilroy/Gilroy-Regular.woff2');
@include font('Gilroy', normal, 700, '../resources/fonts/Gilroy/Gilroy-Bold.woff2'); 

// Переменные
// ================ Colors Start ================
// Текст
$text-primary: #212121;
$light: #fff;
$text-second: brig-color($text-primary, .7);
$accent: #F97900;
$text-link: #2E539A;
$link-active: brig-color(#FFCD6D, active);

// Задний фон разделов
$frame-dark: #EDF0F4;
$frame-light: #F7F8FB;
$frame-blue-grad: linear-gradient(180deg, #2E539A 0%, #3A69C4 100%);
$frame-orange-grad: linear-gradient(90deg, #F97900 1.17%, #FA9800 100%);

// Обводка
$border-frame: #CECECE;
$border-card: #E8E8E8;
$border-light: rgba(255, 255, 255, 0.2);

$error: #E00000;

// Текстовые поля
$tf-placeholder: #7A7A7A;
$tf-focus: #212121;
$tf-disabled: #E8E8E8;
// ================ Colors End ================


// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1240;
$container-padding: 48;
$container-width: $max-width-container + $container-padding;

$laptop-l: 1460px;
$laptop: 1040px;
$tablet: 780px;
$mobile-l: 430px;
$mobile-m: 340px;
$mobile-s: 325px;

$hide-menu: 900px;
// ================ Responsive End ================


// ================ Other Start ================
$radius: 10px;
$radius-round: 99px;
$ff-main: 'Gilroy', sans-serif; 
$tr: .3s;
// ================ Other End ================
//========================================================================================================================================================

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsive-type: 1;

// Сброс CSS
@import "./base/reset";

html {
    scroll-behavior: smooth;
}

body {

    ._lock & {
        overflow: hidden;
		touch-action: none;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
    }
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsive-type==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($max-width-container>0) {
			max-width: rem($max-width-container);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($container-padding>0) {
			padding: 0 rem(math.div($container-padding, 2));
		}

        @media (max-width: $mobile-l) {
            padding: 0 rem(15);
        }
	}
} 
// @else {
// 	// По брейк-поинтам
// 	[class*="__container"] {
// 		margin: 0 auto;
// 		@if ($max-width-container>0) {
// 			max-width: rem($max-width-container);
// 			box-sizing: content-box;
// 		} @else {
// 			@if ($container-padding>0) {
// 				padding: 0 rem(math.div($container-padding, 2));
// 			}
// 		}
// 		@media (max-width: $container-width + px) {
// 			max-width: rem(970);
// 		}
// 		@media (max-width: $tablet) {
// 			max-width: rem(750);
// 		}
// 		@media (max-width: $mobile-l) {
// 			max-width: none;
// 			@if ($container-padding>0 and $max-width-container>0) {
// 				padding: 0 rem(math.div($container-padding, 2));
// 			}
// 		}
// 	}
// }

// // Базовые стили
@import "./base/forms/buttons";
@import "./base/forms/textfield";
@import "./base/text";
// @import "./elements/select";


// Компоненты
@import "./components/socials";

// Карточки
@import "./components/cards/c-offer";
@import "./components/cards/c-services";
@import "./components/cards/c-payment";
@import "./components/cards/c-amount";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Общие стили проекта
@import "./common";

// Стили частоиспользуемых секций
@import "./sections/header";
@import "./sections/main";
@import "./sections/s-offer";
@import "./sections/s-addit";
@import "./sections/s-hw";
@import "./sections/s-service";
@import "./sections/s-payment";
@import "./sections/s-amount";
@import "./sections/s-insur";
@import "./sections/s-know";
@import "./sections/s-example";
@import "./sections/footer";


// Стили для отдельных страниц

// INFO: Тестовые стили. Все что ниже нужно удалить в новом проекте